@model Blog.Core.Models.Interfaces.IPageContext 

@foreach (var post in Model.Paginator.Posts)
{
    <span class="blog-post-meta">
        <a asp-controller="Home" asp-action="SinglePostPage" asp-route-postName="@post.Filename">
            <h2 class="blog-post-title">@post.Title</h2> 
        </a>
        @{
            if (post.DateTime.HasValue)
            {
                <b>Date:</b>
                @post.DateTime.Value.ToString("yyyy-MM-dd")
            }
        }
        <b>Tags:</b>
        @foreach (var tag in post.Tags)
        {
            <a asp-controller="Home" asp-action="PostsWithTagPage" asp-route-tag="@tag.ResolutionName">
                <span class="badge badge-pill badge-info">@tag.Name</span></a>
        }
    </span>
    <br/>
    <div class="blog-post-list-item">
        @Html.Raw(post.Content)
    </div>
}

<div paginator="@Model.Paginator" page-action="Index"
     page-class="page-item" page-class-normal="page-item"
     page-class-selected="page-item active" page-link-class="page-link"
     page-list-class="pagination" class="pagination"></div>